@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">
    <label>UserName:</label>
    <input type="text" name="username" value="" />
    <br/>

    <label>Password:</label>
    <input type="text" name="password" value="" />
    <br />
    <button type="submit">Click to Login</button>
</form>
